<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.zerock.fmt.mapper.InquiryQuestionMapper">

      <!-- 문의하기 -->
      <insert id="insertIQ">
          INSERT INTO tbl_individual_question (iq_number, user_email, iq_title, iq_content, iq_date ,iq_pass)
          VALUES (iq_num.NEXTVAL, #{user_email}, #{iq_title}, #{iq_content}, CURRENT_DATE, 'N')
      </insert>

	  <!-- 일대일 문의 목록 조회 (답변 완료) -->
	  <select id="selectAllInquiryYList" resultType="org.zerock.fmt.domain.InquiryQuestionVO">
		  SELECT /*+ index_desc(tbl_individual_question)*/ * 
		  FROM tbl_individual_question
		  WHERE iq_pass = 'Y'
	      OFFSET (#{currPage} - 1) * #{amount} rows
		  FETCH NEXT #{amount} ROWS ONLY
	  </select>

 	  <!-- 일대일 문의 목록 조회 (미 답변) -->
	  <select id="selectAllInquiryNList" resultType="org.zerock.fmt.domain.InquiryQuestionVO">
		  SELECT /*+ index_desc(tbl_individual_question)*/ * 
		  FROM tbl_individual_question
		  WHERE iq_pass = 'N'
	      OFFSET (#{currPage} - 1) * #{amount} rows
		  FETCH NEXT #{amount} ROWS ONLY
	  </select>

	  <!-- 어드민 페이징 -->
	  <select id="countList" resultType="int">
			SELECT COUNT(*) FROM tbl_individual_question 
			WHERE iq_pass= #{iq_pass}
	  </select>

	<!-- 일대일 문의와 답변 조회 
	<select id="selectInquiry" resultType="org.zerock.fmt.domain.InquiryVO">
		SELECT q.iq_number, q.user_email, q.iq_title, q.iq_content, q.iq_date, a.ia_title, a.ia_content, a.ia_date
		FROM tbl_individual_question q
		LEFT OUTER JOIN tbl_individual_answer a
		ON q.iq_number = a.iq_number
		WHERE q.iq_number = #{iq_number}
	</select> -->


	<!-- 특정 일대일 문의 조회 -->
	<select id="selectInquiry" resultType="org.zerock.fmt.domain.InquiryQuestionVO">
		SELECT *
		FROM tbl_individual_question
		WHERE iq_number = #{iq_number}
	</select> 


      <!-- 답변 여부 수정 -->
      <update id="updateInquiryState">
          UPDATE tbl_individual_question
          SET iq_pass = #{iq_pass}
          WHERE iq_number = #{iq_number}
      </update>
    	

    </mapper>    