<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.fmt.mapper.ProfileMapper">

	<!-- 프로필 사진 등록 -->
    <insert id="insertProfile">
		INSERT INTO tbl_user_profile
		VALUES(pro_num.NEXTVAL, #{user_email}, #{file_name}, #{file_path})
    </insert>
    
    <!-- 프로필 사진 수정 -->
    <update id="updateProfile">
    	UPDATE tbl_user_profile
		SET file_path = #{file_path}
		WHERE user_email = #{user_email}
    </update>
    
    <!-- 유저 닉네임, 사진정보 조회 -->
    <select id="selectUserNaP" resultType="org.zerock.fmt.domain.UserProfileVO">
		SELECT u.user_nick, NVL(p.profile_number, 0) AS profile_number
		FROM tbl_user u, tbl_user_profile p
		WHERE u.user_email = p.user_email(+) AND u.user_email = #{user_email}
	</select>


</mapper>