<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.fmt.mapper.ReviewMapper">

    <!-- 리뷰 등록 -->
    <insert id="InsertReview">
        INSERT INTO tbl_review (tp_number, user_email, rv_star, rv_content)
        VALUES(#{tp_number}, #{user_email}, #{rv_star}, #{rv_content})
    </insert>

    <!-- 리뷰 목록 조회 -->
    <select id="selectReview" resultType="org.zerock.fmt.domain.ReviewVO">
        SELECT r.*, u.user_nick
        FROM tbl_review r, tbl_user u
        WHERE r.user_email = u.user_email
        AND tp_number = #{tp_number}
        ORDER BY r.rv_number DESC
        OFFSET (#{currPage}-1) * #{amount} ROW 
        FETCH NEXT #{amount} ROWS ONLY
    </select>

    <!-- 페이징 -->
    <select id="countList" resultType="int">
        SELECT count(*)
        FROM tbl_review
        WHERE tp_number = #{tp_number}
    </select>

    <!-- 리뷰 수정 -->
    <update id="updateReview">
        UPDATE tbl_review
        SET rv_content = #{rv_content}, rv_star = #{rv_star}
        WHERE rv_number = #{rv_number}
    </update>

    <!-- 리뷰 평균 -->
    <select id="avgReview" resultType="double">
        SELECT ROUND(AVG(rv_star), 1)
        FROM tbl_review
        WHERE TP_NUMBER = #{tp_number}
    </select>
    <!-- 튜터테이블 평균 업데이트 -->
    <update id="updateAve">
        UPDATE tbl_tutor_page
        SET TP_AVERAGE = #{tp_average}
        WHERE TP_NUMBER = #{tp_number}
    </update>

    <!-- 리뷰 개별 조회 -->
    <select id="selectRVone" resultType="org.zerock.fmt.domain.ReviewVO">
        SELECT r.*, u.user_nick
        FROM tbl_review r, tbl_user u
        WHERE r.user_email = u.user_email
        AND rv_number = #{rv_number}
    </select>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview">
        DELETE FROM tbl_review
        WHERE rv_number = #{rv_number}
    </delete>
</mapper>
