<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.fmt.mapper.UserMapper">

    <!-- 학생회원가입 -->
    <insert id="insertStudent" parameterType="org.zerock.fmt.domain.UserDTO">
        INSERT INTO tbl_user
            (user_email, user_pw, user_nick, user_name, user_birth, user_gender, user_phone, 
            st_school, st_grade, USER_GROUP)

        VALUES(#{user_email}, #{user_pw}, #{user_nick}, #{user_name}, #{user_birth}, 
                #{user_gender}, #{user_phone}, 
                #{st_school}, #{st_grade}, 'Student')
    </insert>

    <!-- 튜터회원가입 -->
    <insert id="insertTutor" parameterType="org.zerock.fmt.domain.UserDTO" >
        INSERT INTO tbl_user
            (user_email, user_pw, user_nick, user_name, user_birth, user_gender, user_phone, 
            tt_school, tt_subject, tt_depart, user_group, pass)

        VALUES(#{user_email}, #{user_pw}, #{user_nick}, #{user_name}, #{user_birth}, 
                #{user_gender}, #{user_phone}, 
                #{tt_school}, #{tt_subject}, #{tt_depart},
                'Tutor' ,'Wait')
    </insert>

    <!-- 정보수정 -->
    <update id="updateUser">
        UPDATE tbl_user
        <set>
            <if test="user_pw != null">     user_pw=#{user_pw},</if>
            <if test="user_nick !=null">    user_nick=#{user_nick},</if>
            <if test="user_name !=null">    user_name=#{user_name},</if>
            <if test="user_gender !=null">  user_gender=#{user_gender},</if>
            <if test="user_birth !=null">   user_birth=#{user_birth},</if>
            <if test="user_phone !=null">   user_phone=#{user_phone},</if>
            <if test="st_school !=null">    st_school=#{st_school},</if>
            <if test="st_grade !=null">     st_grade=#{st_grade},</if>
            <if test="tt_school !=null">    tt_school=#{tt_school},</if>
            <if test="tt_subject !=null">   tt_subject=#{tt_subject},</if>
            <if test="tt_depart !=null">    tt_depart=#{tt_depart}</if>
        </set>
        WHERE user_email = #{user_email}
    </update>

    <!-- 로그인 유저  -->
    <select id="selectLogin" resultType="org.zerock.fmt.domain.UserVO">
        SELECT * FROM TBL_USER
        WHERE USER_EMAIL= #{user_email} AND USER_PW= #{user_pw}
    </select>


    <!-- 유저활동정지 -->
    <update id="updateUserStop">
        UPDATE tbl_user
        SET user_status='STOP',
            withdrawal_date=CURRENT_DATE
        WHERE 
            user_email=#{user_email}
    </update>

    <!-- 손들기 구매(학생), 획득(튜터) -->
    <update id="updateHandGet">
        UPDATE  tbl_user
        SET HANDS_WALLET = HANDS_WALLET + #{h_count}
        WHERE user_email= #{user_email}
    </update>
    <!-- 손들기 사용(차감) -->
    <update id="updateHandUse">
        UPDATE  tbl_user
        SET HANDS_WALLET = HANDS_WALLET - #{h_count}
        WHERE user_email= #{user_email}
    </update>



</mapper>
