<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.zerock.fmt.mapper.WithdrawalMapper">

	  <!-- 출금신청 -->
 	  <insert id="insertWithdrawal">
	     INSERT INTO tbl_withdrawal
	     VALUES (w_num.NEXTVAL, #{user_email}, #{bank_account}, #{w_quantity}, #{w_quantity}*180-2000, '승인 대기', CURRENT_DATE, null)
	  </insert>
    
      <!-- 출금 신청 내역 목록 조회 (승인 대기)-->
	  <select id="selectAllWithdrawalList" resultType="org.zerock.fmt.domain.WithdrawalVO">
		 SELECT /*+ index_desc(tbl_withdrawal)*/ * 
		 FROM tbl_withdrawal
		 WHERE approval = '승인 대기'
		 OFFSET (#{currPage} - 1) * #{amount} rows
		 FETCH NEXT #{amount} ROWS ONLY
	  </select>
	
	  <!-- 출금 신청 내역 목록 조회 (승인 완료)-->
	  <select id="selectAllWithdrawalOkList" resultType="org.zerock.fmt.domain.WithdrawalVO">
		 SELECT /*+ index_desc(tbl_withdrawal)*/ * 
		 FROM tbl_withdrawal
		 WHERE approval = '승인 완료'
		 OFFSET (#{currPage} - 1) * #{amount} rows
		 FETCH NEXT #{amount} ROWS ONLY
	  </select>

	  <!-- 어드민 페이징 -->
	  <select id="countList" resultType="int">
			SELECT COUNT(*) FROM tbl_withdrawal
	  </select>

      <!-- 승인여부 수정 -->
      <update id="updateState">
	      UPDATE tbl_withdrawal 
	      SET approval = #{approval}, w_okdate = CURRENT_DATE
	      WHERE w_num = #{w_num}
      </update>
      
     <!-- 손들기 개수 차감 
      <update id="updateHands">
	      	UPDATE tbl_user
			SET hands_wallet = hands_wallet - (SELECT w_quantity 
											   FROM tbl_withdrawal 
											   WHERE user_email = #{user_email} AND w_num = #{w_num}
											   ORDER BY DESC)
			WHERE user_email = #{user_email}
      </update> -->
    	
	  <select id="totalDrowal" resultType="int">
		  SELECT SUM(w_price) 
		  FROM tbl_withdrawal
		  <if test="approval!=null">
			  WHERE approval = #{approval}
		  </if>
	  </select>
    </mapper>    